button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  min-width: 115px;
  min-height: 34px;
  border-radius: 5px;
}

button span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.email {
  background: #ffffff;
  border: 1px solid #d1d5db;
}

.linkedin {
  background: #5093e2;
  border: 1px solid #5093e2;
  color: white;
}
